<div class="card">

    <h3 class="title">Mudar senha</h3>

    <div class="w3-card w3-margin w3-padding-16 w3-container">
        <p>NOME: <strong> <span id="nomeMudarSenha"></span> </strong> </p>
        <p>Nome de usuário: @<span id="usuarioMudarSenha"></span></p>
    </div>

    <form class="formMudarSenha">

        <div class="input-field">
            <input type="password" name="senha" required>
            <label>Senha</label>
        </div>

        <div class="input-field">
            <input type="password" name="confirmarSenha" required>
            <label>Confirmar senha</label>
        </div>

        <button id="mudarSenha" type="button" class="btn btn-primary">Mudar senha</button>

    </form>

</div>