<div class="card">
    
    <h1 class="title">Home do PontoCivil</h1>

    <!-- <div class="cards">

        <div id="obras">
            <p class="card-title">OBRAS</p>
            <div>Minhas obras</div>
        </div>

        <div id="colaboradores">
            <p class="card-title">COLABORADORES</p>
            <div>Ver os colaboradores</div>
        </div>

    </div> -->

    <div class="w3-card w3-round-large">
        <header class="w3-container">O que é isso?</header>

        <p class="w3-container w3-padding-16">Isso se trata do resultado de um Trabalho de Conclusão de Curso de Arthur Rogado Reis, com o tema: <strong> Software que auxilia a orçamentação de obras de construção civil. </strong> </p>

    </div>

</div>