<div class="card">
    
    <h1 class="title">Home do PontoCivil</h1>

    <!-- <div class="cards">

        <div id="obras">
            <p class="card-title">OBRAS</p>
            <div>Minhas obras</div>
        </div>

        <div id="colaboradores">
            <p class="card-title">COLABORADORES</p>
            <div>Ver os colaboradores</div>
        </div>

    </div> -->

    <div class="info-card">
        <div class="header">
            O que é isso?
        </div>
        <p class="content">Isso se trata do resultado de um Trabalho de Conclusão de Curso de Arthur Rogado Reis, com o tema: <strong> DESENVOLVIMENTO DE SISTEMA DE ORÇAMENTO PARA CONSTRUÇÃO CIVIL. </strong> </p>
    </div>

    <div class="info-card">
        <div class="header">
            Como usar?
        </div>
        <div class="content">
            Para usar o sistema, você deve: 

            <p> 1. Navegar o menu <a href="/orcamentos">Orçamentos</a>. </p>
            <p> 2. Criar um novo orçamento clicando no botão <strong>Novo orçamento</strong>.</p>
            <p> 3. Preencher os dados do orçamento (os obrigatórios são 'nome', 'UF' e 'mês'). </p>
            <p> 4. Clique no botão <span class="w3-tag w3-round-xxlarge" style="background: var(--primary-color); color: #ffffff;">Visualizar</span> </p>
            <p> 5. Adicione uma etapa em +Etapa (digite a descrição e salve). </p>
            <p> 6. Adicione composições ou insumos clicando em +Composição ou +Insumo </p>
            <br>
            <p>A partir daqui você já pode visualizar o relatório em tela, com os somatórios. Mas também tem a possibilidade de:</p>
            <ul style="list-style-type: disc; margin-left: 1rem;">
                <li> Alterar detalhes do orçamento clicando no botão de editar (<i class="fa fa-pencil" aria-hidden="true"></i>) </li>
                <li> Expandir as etapas clicando sobre. </li>
                <li> Excluir etapas e itens nas opções que se abrem no <i class="fa fa-wrench"></i> </li>
            </ul>

        </div>

    </div>

    <div class="info-card">
        <div class="header" style="background-color: var(--tertiary-color);">Avaliação do app</div>
        <div class="content">
            Aqui você pode avaliar o presente projeto, dando notas e adicionandno comentários / sugestões / melhorias.
            <a href="https://forms.office.com/r/b0VtsaHqP7" target="_blank">Clique aqui e responda!</a>
        </div>
    </div>


    <div class="info-card">
        <p class="header">Vídeo demonstrativo</p>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rAH0ywbxroA?si=wHpbHuBuHy4fV7ug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>


</div>