#encargo {
    box-shadow: 0px 10px 10px #ccc;
    margin-bottom: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 20rem;
}

#encargo span {
    padding: 1rem 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#encargo span {
    background: var(--light-color-0);
    color: black;
    border: 1px solid #00000000;
    transition: .3s;
}

#encargo span[selected] {
    background: #0c028d;
    color: white;
}

#encargo span:hover {
    cursor: pointer;
    filter: brightness(.9);
}