<body>
    <div class="card">
        <h1>Criar Orçamento</h1>

        <form class="form" id="formCriarOrcamento">
            <div class="input-field">
                <input type="text" name="nome" required>
                <label>Nome*</label>
            </div>

            <div class="input-field">
                <textarea name="descricao" rows="10" style="resize: vertical; height: 5rem;" required></textarea>
                <!-- 
                    para inibir o redimensionamento do textarea, adicionar o seguinte css:
                    textarea {
                        resize: none;
                    }
                    e para delimitar o número de linhas, adicionar o atributo rows="10"
                 -->
                <label>Descrição</label>
            </div>

            <div class="input-field">
                <select name="estado" required>
                    <option value=""></option>
                </select>
                <label>UF da base SINAPI*</label>
            </div>

            <div class="input-field">
                <select name="data_sinapi" required>
                    <option value=""></option>
                </select>
                <label>Mês da base SINAPI*</label>
            </div>

            <div class="input-field">
                <input type="text" name="bdi" required>
                <label>BDI</label>
            </div>
            
            <div id="encargo">
                <span value="0" selected>Não Desonerado</span>
                <span value="1">Desonerado</span>
            </div>

            <button type="button" id="criarOrcamento" class="btn btn-primary">Criar</button>

        </form>

    </div>
</body>