<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="card">

        <h1 class="title">
            Criar Escritório
        </h1>

        <form class="formCriarEscritorio">
    
            <div class="input-field">
                <input type="text" name="nome" required>
                <label>Nome*</label>
            </div>

            <div class="input-field">
                <input type="text" name="cnpj" required>
                <label>CNPJ</label>
            </div>

            <!-- telefone -->
            <div class="input-field">
                <input type="text" name="telefone" required>
                <label>Telefone</label>
            </div>
    
            <div class="input-field">
                <input type="text" name="endereco" required>
                <label>Endereço</label>
            </div>

            <div class="input-field">
                <textarea name="observacoes" rows="5" required></textarea>
                <label>Observações</label>
            </div>

            <button 
                type="button" 
                class="btn btn-primary"
            id="btnCriarEscritorio"
            > Criar </button>
    
        </form>
    </div>
    
    
</body>
</html>