<div class="card">

    <h1 class="title">Login</h1>

    <div class="cartaovisita">

        <div class="introducao">
            <p class="content">Isso se trata do resultado de um Trabalho de Conclusão de Curso de Arthur Rogado Reis, com o tema: <strong> DESENVOLVIMENTO DE SISTEMA DE ORÇAMENTO PARA CONSTRUÇÃO CIVIL. </strong> </p>
            <p>PontoCivil é um software de orçamento para construção civil.</p>
            
            <img src="/App/Images/engenheira_introducao.png" alt="engenheira civil">

        </div>

        <form class="form form_login">
            
            <div class="input-field">
                <input type="usuario" name="usuario" id="usuario" required>
                <label for="usuario">Usuário</label>
            </div>
    
            <div class="input-field">
                <input type="password" name="senha" id="senha" required>
                <label for="senha">Senha</label>
            </div>
    
            <div class="input-field">
                <button class="btn btn-primary" type="submit" name="action">Entrar
                    <!-- <i class="material-icons right">send</i> -->
                    <i class="fa-solid fa-right-to-bracket"></i>
                </button>
            </div>
            
        </form>

    </div>


</div>