#cabecalhoOrcamento {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
}
#iconeCabecalho {
    height: 100%;
    width: 10rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#corpoCabecalho {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


#detalhes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--neutral-color-1);
}

#acoesOrcamento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#acoesOrcamento > div, #btnEdicaoOrcamento {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: .5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid var(--dark-color-3);
    color: white;
    cursor: pointer;
    transition: .2s;
}
#acoesOrcamento > div:hover {
    filter: brightness(1.2);
    border: 2px solid var(--light-color-2);
}

#acoesOrcamento > div > i {
    font-size: 2rem;
}

#addEtapa {
    background: var(--primary-color);
}
#addComposicao {
    background: var(--secondary-color);
}
#addInsumo {
    background: var(--tertiary-color);
}



#informacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--neutral-color-1);
}

.tabelinha {
    border-collapse: collapse;
    width: 100%;
}
.tabelinha th, .tabelinha td {
    padding: 1rem;
    border-bottom: 1px solid var(--dark-color-3);
    text-align: center;
}

#btnEdicaoOrcamento {
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: .2s;
}
#btnEdicaoOrcamento:hover {
    background: var(--secondary-color);
}
#btnEdicaoOrcamento > i {
    font-size: 2rem;
}


#orcamento {
    margin-top: 4rem;
}

#tableOrcamento {
    width: 100%;
    border-collapse: collapse;
}
#tableOrcamento th, #tableOrcamento td {
    padding: 1rem;
    border-bottom: 1px solid var(--dark-color-3);
    text-align: center;
}
#tableOrcamento thead {
    background: var(--secondary-color);
    color: var(--light-color-4);
}

[section] {
    background-color: var(--neutral-color-1);
}


#itensPesquisa {
    max-height: 20rem;
    overflow-y: auto;
    margin-top: 1rem;
    background: var(--neutral-color-1);
    
    border-radius: 1rem;
    margin: 1rem 0;
}

#itensPesquisa .input-field:first-child {
    margin-top: 1rem;
}


#relatorio {
    width: 95%;
    padding: 1rem;

    display: flex;
    justify-content: flex-end;
    
    
}

#total {
    margin-top: 1rem;
    padding: 1.5rem 1rem;
    border-radius: 3rem 1rem;
    box-shadow: 0 0 5px var(--dark-color-3);
}
#total div {
    font-size: 2rem;
}


/* Edição do orçamento */

#encargo {
    box-shadow: 0px 10px 10px #ccc;
    margin-bottom: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 20rem;
}

#encargo span {
    padding: 1rem 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#encargo span {
    background: var(--light-color-0);
    color: black;
    border: 1px solid #00000000;
    transition: .3s;
}

#encargo span[selected] {
    background: #0c028d;
    color: white;
}

#encargo span:hover {
    cursor: pointer;
    filter: brightness(.9);
}