<body>
    <section>

        <div id="cabecalhoOrcamento">
            <div id="iconeCabecalho">
                <i class="fa fa-list-ol"></i>
            </div>

            <div id="corpoCabecalho">
                <p>Orçamento</p>
                <h2 id="nomeOrcamento">--</h2>
                <p>Criado em: <span id="criadoEm">_</span></p>
            </div>
        </div>


        <div id="detalhes">

            <div id="acoesOrcamento">
                <div id="addEtapa">
                    <i class="fa fa-signal fa-rotate-90"></i>
                    +Etapa
                </div>

                <div id="addComposicao">
                    <i class="fa fa-cubes"></i>
                    +Composição
                </div>

                <div id="addInsumo">
                    <i class="fa fa-cube"></i>
                    +Insumo
                </div>
            </div>

            <div id="informacoes">
                <table>
                    <thead>
                        <tr>
                            <th>BDI</th>
                            <th>Encargos Sociais</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td id="bdi"></td>
                            <td id="encargosSociais">encargos_sociais</td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>


        <div id="orcamento">
            <table id="tableOrcamento">

                <thead>
                    <tr>
                        <th><i class="fa fa-caret-right"></i></th>
                        <th> <i class="fa fa-wrench"></i> </th>
                        <th>ITEM</th>
                        <th>CÓDIGO</th>
                        <th>BANCO</th>
                        <th>DESCRIÇÃO</th>
                        <th>UND.</th>
                        <th>QTD.</th>
                        <th>VALOR UNIT.</th>
                        <th>VALOR COM BDI</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>

                <tbody>

                    <!-- <tr section="1">
                        <th><i class="fa fa-caret-right"></i></th>
                            <td></td>
                        <td></td>
                        <td></td>
                        <td>Descrição de alguma coisa lorem ipsum</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>R$9999</td>
                    </tr>
                    <tr from-section="1">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Tubo de lorem ipsum</td>
                        <td>Un</td>
                        <td>3</td>
                        <td>10</td>
                        <td>R$30</td>
                        <td>R$30</td>
                    </tr>
                    <tr from-section="1">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Tubo de lorem ipsum</td>
                        <td>Un</td>
                        <td>3</td>
                        <td>10</td>
                        <td>R$30</td>
                        <td>R$30</td>
                    </tr> -->



                </tbody>

            </table>
        </div>

        <div class="w3-dropdown-hover">
            <button class="w3-button w3-black">Hover Over Me!</button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a href="#" class="w3-bar-item w3-button">Link 1</a>
                <a href="#" class="w3-bar-item w3-button">Link 2</a>
                <a href="#" class="w3-bar-item w3-button">Link 3</a>
            </div>
        </div>

    </section>
</body>