<body>

    <div class="card">
        <form class="formCriarEscritorio">

            <input type="text" class="hidden" name="id">
    
            <div class="input-field">
                <input type="text" name="nome" required disabled>
                <label>Nome*</label>
            </div>

            <div class="input-field">
                <input type="text" name="cnpj" required disabled>
                <label>CNPJ</label>
            </div>

            <!-- telefone -->
            <div class="input-field">
                <input type="text" name="telefone" required disabled>
                <label>Telefone</label>
            </div>
    
            <div class="input-field">
                <input type="text" name="endereco" required disabled>
                <label>Endereço</label>
            </div>

            <div class="input-field">
                <textarea name="observacoes" rows="5" required disabled></textarea>
                <label>Observações</label>
            </div>

            <div id="actions">
                
            </div>
    
        </form>
    </div>
    
</body>
</html>